<!--
 Copyright (c) 2010 Giorgio Sironi. All rights reserved.
 This program and the accompanying materials are made available under 
 the terms of the Eclipse Public License v1.0 which accompanies this 
 distribution, and is available at http://www.eclipse.org/legal/epl-v10.html
 -->
<plugin>
   <extension
       id="it.polimi.chansonnier.agent"
       name="it.polimi.chansonnier.agent"
       point="org.eclipse.smila.connectivity.framework.schema.extension">
       <schema
           class="it.polimi.chansonnier.agent.DataSourceConnectionConfigPluginImpl">
       </schema>
   </extension>
</plugin>
