chansonnier/eclipse.build/
chansonnier/SMILA.builder/log.*.txt
SMILA.log
derby.log
chansonnier/SMILA.application/configuration/org.eclipse.smila.tomcat/work/
chansonnier/SMILA.application/derby.log
.svn
chansonnier/**/bin
*.class
.metadata
chansonnier/SMILA.application/configuration/org.eclipse.smila.search/xml/*.xml
solr/solr/data/index/*
solr/logs/*.log
