<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>it.polimi.chansonnier.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>last</servlet-name>
    <servlet-class>it.polimi.chansonnier.servlet.LastServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>it.polimi.chansonnier.servlet.SearchServlet</servlet-class>
  </servlet>
 
  
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>last</servlet-name>
    <url-pattern>/last</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>

</web-app>
